body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px; 
}

h1 {
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 100px;
    text-align: left;
    font-size: 2em;
}
img {
    max-width: 100%; /* Make images responsive */
}

.items {
    margin-top: 20px;
}

.items:before {
    background-color: white;
    border-radius: 50%;
    content: "";
    display: block;
    height: 10px;
    left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}

.line {
    border-right: 2px solid white;
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.options {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
}     

/* Styles for the mobile menu */
.mobile-menu-button {
    display: none; /* Hide the button by default */
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none; /* Hide the navigation links on smaller screens */
    }

    .mobile-menu-button {
        display: block; /* Show the button */
    }

    .navbar-nav.show {
        display: block; /* Show the collapsed menu when the button is clicked */
    }
}

